.landingpage {
  min-height: 250vh;
  flex-wrap: wrap;
  margin-top: 100px;
}
.sentence {
  margin-top: 20px;
  width: 100vw;
  display: flex;
  height: 150px;
  background-color: #faf0ca;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.04);
}
.sentence-1 {
  margin-left: 400px;
  color: #264653;
  font-family: "Times New Roman", Times, serif;
}
.landing-D1 {
  height: 70vh;
  width: 100vw;
  margin: auto;
  background-color: #ee964b;
  display: flex;
  padding-top: 40px;
  padding-left: 20px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.04);
}

.landing-leftDiv {
  padding-left: 90px;
}
.StdyBddy {
  font-size: 50px;
}
.landing-image {
  margin-top: -30px;
}

.landing-rightDiv-d1 {
  padding-left: 200px;
  margin-top: 100px;
}

.rd1-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  margin-top: 100px;
}

.landing-d1-btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ffffff),
    color-stop(1, #f6f6f6)
  );
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.landing-d1-btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f6f6f6),
    color-stop(1, #ffffff)
  );
  background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
  background-color: #f6f6f6;
}
.landing-d1-btn:active {
  position: relative;
  top: 1px;
}

.landing-D2 {
  height: 50vh;
  width: 100vw;
  margin: auto;
  margin-top: 20px;
  background-color: #e9c46a;
  display: flex;
  padding-top: 100px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.04);
}

.landing-leftDiv-d3 {
  margin-left: 40px;
}

h2 {
  margin-right: 50px;
  font-size: 40px;
}

.landing-D3 {
  height: 60vh;
  width: 100vw;
  margin: auto;
  margin-top: 10px;
  background-color: #2a9d8f;
  display: flex;
  padding-top: 20px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.04);
}

.d3-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

.landing-D4 {
  height: 75vh;
  width: 100vw;
  margin: auto;
  margin-top: 10px;
  background-color: #e76f51;
  margin-bottom: 10px;
  display: flex;
  padding-left: 100px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.04);
}

.landing-D4-sec {
  display: flex;
  padding-top: 200px;
}
