@import "../../scss/variables.scss";
.landing-d1-btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ffffff),
    color-stop(1, #f6f6f6)
  );
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.landing-d1-btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f6f6f6),
    color-stop(1, #ffffff)
  );
  background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
  background-color: #f6f6f6;
}
.landing-d1-btn:active {
  position: relative;
  top: 1px;
}

.landingpage {
  min-height: 200vh;
  flex-wrap: wrap;
  margin-top: 70px;
}

.landing-D1 {
  margin-top: 70px;
  height: 70vh;
  width: 100vw;
  margin-bottom: 10px;
  background-color: #ee964b;
  display: flex;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.35);
}
.landing-image {
  margin-top: 140px;
  margin-left: -30px;
  height: 50vh;
  width: 30vw;
}
.rd1-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  margin-top: 100px;
  color: white;
}
.landing-leftDiv {
  padding-left: 90px;
}
.StdyBddy {
  font-size: 40px;
}

.landing-rightDiv-d1 {
  padding-left: 200px;
  margin-top: 100px;
  margin-left: 150px;
}
.sentence {
  width: 100vw;
  flex-wrap: wrap;
  height: 150px;
  background-color: #faf0ca;
  margin-bottom: 20px;
  // box-shadow: 1px 0 20px rgba(0, 0, 0, 0.35);
}
.sentence-1 {
  margin-top: 20px;
  padding-top: 40px;
  margin-left: 350px;
  color: #264653;
  flex-wrap: wrap;
  font-family: "Times New Roman", Times, serif;
}

.landing-D2 {
  height: 55vh;
  min-width: 100%;
  margin-top: 20px;
  background-color: #e9c46a;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.35);
}
.landing-image2 {
  height: 45vh;
  width: 30vw;
  margin-left: 250px;
  margin-top: 50px;
}
h2 {
  font-family: "Times New Roman", Times, serif;
  margin-right: 50px;
  font-size: 40px;
  color: blacks;
}

.landing-D3 {
  height: 60vh;
  min-width: 100%;
  margin-top: 10px;
  background-color: #faf0ca;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.35);
}

.landing-rightDiv-d3 {
  margin-left: 100px;
}
.landing-image3-1 {
  padding-top: 50px;
  margin-left: 50px;
  height: 50vh;
  width: 30vw;
}
.landing-image3-2 {
  margin-left: 400px;
  height: 20vh;
  width: 17vw;
}
.d3-text {
  color: $primary-color;
  flex-wrap: wrap;
  margin-left: 100px;
  font-size: 30px;
  font: "Times New Roman", Times, serif;
}

.landing-D4 {
  height: 75vh;
  min-width: 100%;
  background-color: #2a9d8f;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.35);
}
.landing-image4 {
  margin-top: -50px;
  margin-left: 100px;
  height: 50vh;
  width: 30vw;
}

.landing-D4-sec {
  display: flex;
  padding: 200px;
}
@media (max-width: 1024px) {
  .sentence,
  .landing-leftDiv,
  .landing-D1,
  .landing-D2,
  .landing-D3,
  .landing-D4 {
    width: 100vw;
    flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  .landing-image,
  .landing-image2,
  .landing-image3-1,
  .landing-image4 {
    width: 50vw;
    height: 30vh;
  }
}
@media (max-width: 400px) {
  .sentence {
    height: 300px;
    font-size: small;
  }
}
// @media (max-width: 800px) {
//   .landing-rightDiv-d1 {
//     // margin-left: -50px;
//     font-size: small;
//   }
// }
// @media (max-width: 800px) {
//   .landing-D4-sec {
//     margin-left: -150px;
//   }
// }
