.virtualmeetup {
  display: flex;
  background-color: #e9c46a;
  width: 100vw;
  height: 200vh;
}

.roomlist {
  background-color: #2a9d8f;
  width: 20vw;
  margin-top: 70px;
}
.currentroom {
  background-color: #264653;
  margin-left: 70px;
  width: 70vw;
  height: 70vh;
  margin-top: 100px;
}
.chatbox {
  margin: auto;
  background-color: #264653;
  width: 60vw;
  height: 70vh;
  margin-top: 600px;
}
