.aboutus {
  background: url("https://res.cloudinary.com/dgaapgd2f/image/upload/v1624342314/24A20871-D9D3-4FD1-AAFD-9533E5760BB1_1_201_a_rjcvap.jpg")
    center center/cover no-repeat;
  height: 150vh;
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;

  box-shadow: inset 0 0 0 1000px rgba(252, 239, 239, 0.4);
  object-fit: contain;
  color: White;
}
.aboutus-text {
  margin-top: 100px;
  margin-left: 600px;
  color: black;
  margin-bottom: 500px;
}
.textcontainer {
  margin-top: -400px;
  flex-wrap: wrap;
}
p {
  margin-left: 100px;
  margin-right: 100px;
  color: black;
  font-weight: bolder;
  font-size: 17px;
}
@media (max-width: 400px) {
  .textcontainer {
    height: fit-content;
    width: fit-content;
  }
}
@media (max-width: 400px) {
  p {
    margin-right: 20px;
    margin-left: 20px;
    font-size: xx-small;
  }
}
@media (max-width: 400px) {
  .aboutus-text {
    font-size: medium;
  }
}
@media (max-width: 800px) {
  .aboutus-text {
    margin-left: 325px;
    // margin-top: 0px;
    margin-bottom: -20px;
  }
}
@media (max-width: 800px) {
  .textcontainer {
    margin-top: 100px;
  }
}
