.register-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.normButton{
    background-color: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.blueButton{
    background-color: blue;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }