@import '../../scss/variables.scss';

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  min-width: 100%;
  height: 120px;
  background-color: #264653;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.35);
  position: fixed;
  z-index: 1;
}
h1 {
  color: aliceblue;
}

.H-secLeft {
  padding-left: 50px;
}

.searchBar {
  margin-left: 10px;
  height: 30px;
  width: 400px;
  border: 1px solid black;
}

.H-secRight {
  justify-content: space-around;
  flex-direction: row;
  display: flex;
}

.links-logout {
  margin-left: 30px;
  margin-right: 60px;
  margin-top: -10px;
  width: 100px;
}
.links-aboutus {
  margin-left: 30px;
  margin-right: -15px;
  font-size: 10px;
  width: 100px;
}

.links-home {
  margin-left: 400px;
  font-size: 10px;
}

.logo {
  margin-top: 5px;
}

.DropDown{
  display: none;
}

#drop-item{
  background-color: #264653;
  color: black;
  height: 30px;
  width: 100vw;
  @include FlexCenterAll(row);
  position: relative;
}

#drop-item:hover{
  color: blue;
  cursor: pointer;
}

#dropdown-basic-button{
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}

#ham-icon{
  width: 19px;
  height: 19px;
}

.links{
  margin-left: 30px;
  font-size: 20px;
  color: white;
}


@media(max-width: 1142px){
  .H-secRight{
    display: none;
  }
  .H-secLeft{
    display: none;
  }
  .DropDown{
    @include FlexCenterAll(column)
  }
}