.dashboard {
  margin-top: 120px;
  height: 200vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: #264653;
}
.dashheader {
  background: url("https://res.cloudinary.com/dgaapgd2f/image/upload/v1624371922/EB4FB6E5-C68B-4672-A0E5-685C9AD564F5_4_5005_c_qg74np.jpg")
    center center/cover no-repeat;
  width: 100vw;
  height: 150px;
  margin-top: -50px;
}

.container {
  background: white;
  width: 100vw;
  // height: 200vh;
  display: flex;
  margin-bottom: 95px;
  padding: 50px;
}
.column1 {
  padding: 3rem;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 50vw;
  background-color: #2a9d8f;
  margin-right: 50px;
  margin-bottom: 400px;
  // border-radius: 25px;
  // background-color: #e9c46a;
  // border: 0.1px solid black;
}
.block1 {
  margin: auto;
  margin-bottom: 700px;
  margin-left: -5px;
}
.userlogo {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-top: 15px;
}
.greeting {
  // box-shadow: 1px 1px 1px 1px rgb(134, 130, 130);
  background: white;
  display: flex;
}

.h1 {
  color: black;
  margin-left: 50px;
}

.questionpage {
  width: 300px;
  height: 200px;
  padding: 20px;
  // box-shadow: 1px 1px rgb(134, 130, 130);
  background: #e9c46a;
}
.askq {
  padding-left: 10px;
  width: 250px;
  height: 100px;
}
.subjectslist {
  // box-shadow: 1px 1px rgb(134, 130, 130);
  background: whitesmoke;
  overflow-y: scroll;
  width: 250px;
  height: 250px;
  padding: 20px;
}
.choose-subject {
  background: white;
  width: 250px;
  height: 35px;
  position: sticky;
  z-index: 1;
  top: 0px;
}
.onesubject:hover {
  box-shadow: 1px 1px 1px 1px rgb(134, 130, 130);
}
.block2 {
  margin-left: 400px;
  margin-top: -550px;
}
.virtual {
  // box-shadow: 1px 1px rgb(134, 130, 130);
  background: #e76f51;
  width: 300px;
  height: 200px;
  padding: 20px;
}
.meetup {
  // box-shadow: 1px 1px rgb(134, 130, 130);
  background: #f4a261;
  width: 300px;
  height: 200px;
  padding: 20px;
}
.column2 {
  height: 100vh;
  position: relative;
  padding: 3rem;
  // border: 0.1px solid black;
  // border-radius: 25px;
  width: 20vw;
  margin-left: 100px;

  margin-bottom: 400px;
  background-color: #2a9d8f;
}
.backpack {
  // box-shadow: 1px 1px rgb(134, 130, 130);
  background: white;
  width: 250px;
  height: 400px;
  padding: 20px;
  object-fit: cover;
}
.backpack-container {
  display: flex;
  height: 50px;
}
.backpack-image {
  width: 20%;
  height: 50px;
  margin-left: 50px;
  margin-top: -20px;
}
.backpack-h3 {
  font-size: 25px;
  margin-left: 50px;
  height: 50px;
  margin-top: -20px;
}
.tutorsearch {
  // box-shadow: 1px 1px rgb(134, 130, 130);
  overflow-y: scroll;
  background: whitesmoke;
  width: 300px;
  height: 300px;
  padding: 20px;
}
.choose-tutor {
  position: sticky;
  z-index: 1;
  top: 0px;
  background: white;
  width: 250px;
  height: 35px;
}
