.dashboard {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.virtual {
  background-color: white;
  width: 300px;
  height: 300px;
  height: 200px;
  padding: 20px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}
.tutorsearch {
  background-color: white;
  width: 300px;
  height: 300px;
  height: 200px;
  padding: 20px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}
.questionpage {
  background-color: white;
  width: 300px;
  height: 300px;
  height: 200px;
  padding: 20px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}
.subjectslist {
  background-color: white;
  width: 300px;
  height: 300px;
  height: 200px;
  padding: 20px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}
.meetup {
  background-color: white;
  width: 300px;
  height: 300px;
  height: 200px;
  padding: 20px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}
.backpack {
  background-color: #e9c46a;
  width: 250px;
  height: 500px;

  padding: 20px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 360px;
  margin-top: -200px;
}
