@import "../../scss/variables.scss";
*,
::before,
::after {
  box-sizing: border-box;
}
.login {
  width: 100vw;
  height: 100vh;
  background-color: $accent-color1;
}

.loginform {
  position: absolute;
  margin-top: 150px;
  margin-left: 70px;
  width: 30vw;
  height: 70vh;
  border-radius: 40px;
  border: 5px solid white;
}
.input1,
.input2,
.dropdown {
  border: 5px solid $accent-color2;
  display: list-item;
  margin: auto;
  justify-content: space-between;
  width: 300px;
  height: 30px;
}
@media (max-width: 800px) {
  .loginform {
    width: 60vw;
    height: 60vh;
  }
}

@media (max-width: 400px) {
  .loginform {
    padding: 0;
    width: 90vw;
    height: 80vh;
    margin-top: 120px;
    margin-left: 20px;
  }
}
@media (max-width: 400px) {
  .input1,
  .input2,
  .dropdown {
    width: 200px;
  }
}

.videoTag {
  margin-top: 120px;
  height: 80vh;
  width: 100vh;
  margin-left: 550px;
}

@media (max-width: 800px) {
  .videoTag {
    display: none;
  }
}

.nav-links {
  margin-left: 50px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.p1,
.p2,
.p3,
.p4,
.input1,
.input2,
.login1,
.login2,
.registerlink,
.dropdown {
  margin-left: 50px;
  color: black;
}

button {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ffffff),
    color-stop(1, #f6f6f6)
  );
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  &:hover {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.05, #f6f6f6),
      color-stop(1, #ffffff)
    );
    background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color: #f6f6f6;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
