$font: Arial, Verdana, sans-serif;
$primary-color: #264653;
$secondary-color: #2a9d8f;
$accent-color1: #e9c46a;
$accent-color2: #faf0ca;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

@mixin FlexCenterAll($direct) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direct;
}
