.search {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
  }
  
  .search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
  }
  
  .locate {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
  }
  .locate img {
    width: 30px;
    cursor: pointer;
  }

.locate {
  margin-right: 40px;
  width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}